<div class="row">
  <div class="col-md-9">
    <h1 class="display-3">Movies Search
      "<small class="text-warning">{{ searchValue | titlecase }}</small>"
    </h1>
  </div>
  <div class="col-md-3 text-right">
    <button class="btn btn-outline-warning mt-5" (click)="goBack()">Back</button>
  </div>
</div>
<hr style="background-color: #272a36">
<!--Movies Cards-->
<div class="row mt-5">
  <div class="col">
    <app-movies-poster-grid
      *ngIf="movies.length > 0"
      [movies]="movies"></app-movies-poster-grid>
  </div>
</div>
